<header class="pb-5">
    <nav class="navbar navbar-dark primary-bg-image cotainer fixed-top">
  <div class="container-fluid">
    <% if user_signed_in? %>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
          <span class="navbar-toggler-icon border-white"></span>
        </button>
      <% end %>
    <a class="navbar-brand" href="#">
      <%= turbo_frame_tag "logo" do %>
        <%= render module_partial("logo") %>
      <% end %>
    </a>
  </div>
</nav>
</header>