<header>
    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= turbo_frame_tag "logo" do %>
        <%= render module_partial("logo") %>
      <% end %>
    </a>
      <%# <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> %>
      <% if user_signed_in? %>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Meanu <i class="bi bi-arrow-right-square-fill"></i></button>
      <% end %>
  </div>
</nav>
</header>