<div class="border border-4 rounded-3" style="border-color: #961ab5 !important">
    <div class="rounded-circle d-inline-flex justify-content-center align-items-center text-white font-chewy m-2" style="width:48px; height:48px; background-color: #961ab5;"> 
        <span class="pt-1">E</span>
    </div>
    <span class="ms-2 bitcount-single-ink">CAMPAIGN</span>
</div>